{% extends 'base.html.twig' %}

{% block title %}
	Create New Contact
{% endblock %}

{% block body %}
	<div class="card shadow-sm mt-5 mb-5 rounded">
		<div class="card-body">
			<h2 class="card-title">Ajouter un nouveau contact</h2>
			{{ form_start(form, {attr: {class: 'ms-3', action: path('contact_create'), 'method': 'POST'}}) }}
			<div class="row">
				{{ form_row(form.name, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.name) }}
				{{ form_row(form.givenName, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.givenName) }}
				{{ form_row(form.famillyName, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.famillyName) }}
				{{ form_row(form.email, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.email) }}
				{{ form_row(form.phone, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.phone) }}
				{{ form_row(form.address, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.address) }}
				{{ form_row(form.postalCode, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.postalCode) }}
				{{ form_row(form.city, {attr: {class: 'form-control'}}) }}
				{{ form_errors(form.city) }}
				<button type="submit" class="btn btn-primary form-control mt-5"><i class="fa-solid fa-check"></i>Valider
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

