{% extends 'base.html.twig' %}
{% block body %}
	<div class="card shadow-sm mt-5 mb-5 rounded">
		<div class="card-body">
			<hgroup>
				<h2 class="card-title editName collapse {% if not formName.vars.submitted or formName.vars.valid %}show{% endif %}">{{ contact.name }}</h2>
				{% if not formName.vars.submitted or formName.vars.valid %}
					{{ form_start(formName, {attr: {class: 'collapse multi-collapse editName ms-3', action: path('contact_edit_name')}}) }}
				{% else %}
					{{ form_start(formName, {attr: {class: 'collapse multi-collapse editName ms-3 show', action: path('contact_edit_name')}}) }}
				{% endif %}

				<div class="d-flex">
					<div class="col-auto">
						{{ form_widget(formName.name, {attr: {class: 'form-control'}}) }}
						{{ form_errors(formName.name) }}
					</div>
					<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
					</button>
				</div>
				{{ form_end(formName) }}

				<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
				   data-bs-target=".editName"></a>
			</hgroup>

			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex "><strong>Prénom : </strong>
					<span class="ms-1 editGivenName collapse {% if not formGivenName.vars.submitted or formGivenName.vars.valid %}show{% endif %}">{{ contact.giveName }}</span>

					{% if not formName.vars.submitted or formName.vars.valid %}
						{{ form_start(formGivenName, {attr: {class: 'collapse multi-collapse editGivenName ms-3', action: path('contact_edit_name')}}) }}
					{% else %}
						{{ form_start(formGivenName, {attr: {class: 'collapse multi-collapse editGivenName ms-3 show', action: path('contact_edit_name')}}) }}
					{% endif %}
					<div class="d-flex">
						<div class="col-auto">
							{{ form_widget(formGivenName.givenName, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formGivenName.givenName) }}
						</div>
						<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
						</button>
					</div>
					{{ form_end(formGivenName) }}

					<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
					   data-bs-target=".editGivenName"></a>
				</li>
				<li class="list-group-item d-flex"><strong>Nom : </strong>
					<span class="ms-1 editFamillyName collapse {% if not formFamillyName.vars.submitted or formFamillyName.vars.valid %}show{% endif %}">{{ contact.famillyName }}</span>

					{% if not formName.vars.submitted or formName.vars.valid %}
						{{ form_start(formFamillyName, {attr: {class: 'collapse multi-collapse editFamillyName ms-3', action: path('contact_edit_name')}}) }}
					{% else %}
						{{ form_start(formFamillyName, {attr: {class: 'collapse multi-collapse editFamillyName ms-3 show', action: path('contact_edit_name')}}) }}
					{% endif %}
					<div class="d-flex">
						<div class="col-auto">
							{{ form_widget(formFamillyName.famillyName, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formFamillyName.famillyName) }}
						</div>
						<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
						</button>
					</div>
					{{ form_end(formFamillyName) }}

					<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
					   data-bs-target=".editFamillyName"></a>
				</li>
				<li class="list-group-item d-flex"><strong>Adresse : </strong><br/>
					<span class="ms-1 editAddress collapse {% if not formAddress.vars.submitted or formAddress.vars.valid %}show{% endif %}">{{ contact.address }}</span><br/>
					<span class="ms-1 editAddress collapse {% if not formAddress.vars.submitted or formAddress.vars.valid %}show{% endif %}">{{ contact.postalCode }} {{ contact.city }}</span>

					{% if not formName.vars.submitted or formName.vars.valid %}
						{{ form_start(formAddress, {attr: {class: 'collapse multi-collapse editAddress ms-3', action: path('contact_edit_name')}}) }}
					{% else %}
						{{ form_start(formAddress, {attr: {class: 'collapse multi-collapse editAddress ms-3 show', action: path('contact_edit_name')}}) }}
					{% endif %}
					<div class="d-flex">
						<div class="col-auto">
							{{ form_widget(formAddress.address, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formAddress.address) }}
						</div>
						<div class="col-auto">
							{{ form_widget(formAddress.postalCode, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formAddress.postalCode) }}
						</div>
						<div class="col-auto">
							{{ form_widget(formAddress.city, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formAddress.city) }}
						</div>
						<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
						</button>
					</div>
					{{ form_end(formAddress) }}

					<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
					   data-bs-target=".editAddress"></a>
				</li>
				<li class="list-group-item d-flex"><strong>Téléphone : </strong>
					<span class="ms-1 editPhone collapse {% if not formPhone.vars.submitted or formPhone.vars.valid %}show{% endif %}">{{ contact.phone }}</span>

					{% if not formName.vars.submitted or formName.vars.valid %}
						{{ form_start(formPhone, {attr: {class: 'collapse multi-collapse editPhone ms-3', action: path('contact_edit_name')}}) }}
					{% else %}
						{{ form_start(formPhone, {attr: {class: 'collapse multi-collapse editPhone ms-3 show', action: path('contact_edit_name')}}) }}
					{% endif %}
					<div class="d-flex">
						<div class="col-auto">
							{{ form_widget(formPhone.phone, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formPhone.phone) }}
						</div>
						<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
						</button>
					</div>
					{{ form_end(formPhone) }}

					<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
					   data-bs-target=".editPhone"></a>
				</li>
				<li class="list-group-item d-flex"><strong>Email : </strong>
					<span class="ms-1 editEmail collapse {% if not formEmail.vars.submitted or formEmail.vars.valid %}show{% endif %}">{{ contact.email }}</span>

					{% if not formName.vars.submitted or formName.vars.valid %}
						{{ form_start(formEmail, {attr: {class: 'collapse multi-collapse editEmail ms-3', action: path('contact_edit_name')}}) }}
					{% else %}
						{{ form_start(formEmail, {attr: {class: 'collapse multi-collapse editEmail ms-3 show', action: path('contact_edit_name')}}) }}
					{% endif %}
					<div class="d-flex">
						<div class="col-auto">
							{{ form_widget(formEmail.email, {attr: {class: 'form-control'}}) }}
							{{ form_errors(formEmail.email) }}
						</div>
						<button type="submit" class="btn btn-primary ms-auto"><i class="fa-solid fa-check"></i> Valider
						</button>
					</div>
					{{ form_end(formEmail) }}

					<a class="btn btn-light btn-sm fa-solid fa-pencil ms-auto" data-bs-toggle="collapse"
					   data-bs-target=".editEmail"></a>
				</li>
			</ul>
			<hr/>


			{{ form_start(formDelete, {attr: {action: path('contact_delete')}}) }}
			{{ form_errors(formDelete) }}
			<button type="submit" class="btn btn-danger ms-auto"><i class="fa-solid fa-trash"></i> Supprimer</button>
			{{ form_end(formDelete) }}
		</div>
	</div>
{% endblock %}

{% block title %}
	{{ contact.name }}
{% endblock %}

