{% extends 'base.html.twig' %}
{% block body %}
    <div class="card shadow-sm mt-5 mb-5 rounded">
        <div class="card-body">
            <h2>Liste des contacts</h2>
            <a class="btn btn-primary mt-5 mb-5" href="{{ url('contact_create_form') }}"><i class="fa-solid fa-plus"></i> Ajouter</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <th scope="row"><a
                                    href="{{ url('contact_detail', { 'id' : contact.id}) }}">{{ contact.name }}</a></th>
                        <td>{{ contact.phone }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

